@model MyProject.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>عرض تفاصيل الوظيفة</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            @*  @Html.DisplayFor(model => model.JobImage)*@
            <img src="~/Uploads/@Html.DisplayFor(model => model.JobImage)" class="thumbnail"
                 style="width:130px;height:130px;" />
        </dd>

    </dl>
</div>
<p>
    @*
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("التقدم الي الوظيفة","Apply",new { id=Model.Id}, new { @class = "btn btn-success" })
    @Html.ActionLink("العودة الي الصفحة الرئسية","Index",new { @class = "btn btn-default" })
</p>
