@model IEnumerable<MyProject.Models.ApplyForJob>

@{
    ViewBag.Title = "GetUserJobs";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>جميع الوظائف التي قمت بالتقدم اليها</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.job.JobTitle)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.job.JobTitle)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            @Html.ActionLink("تعديل", "EditForMyJob", new { id=item.Id }) |
            @Html.ActionLink("تفاصيل", "DetailsForMyJob", new { id=item.Id }) |
            @Html.ActionLink("حذف", "DeleteForMyJob", new { id=item.Id })
        </td>
    </tr>
}

</table>
